<%- contentFor('body') %>
<main class="container">
  <div class="pt-6 pb-6">
    <div class="row flex justify-between">
      <div class="col col-6">
        <%if(product.image) {%>
        <img class="image" alt="" src="/files/<%=product.image%>" />
        <% }else {%> <% } %>
      </div>
      <div class="col col-5">
        <h5><%= product.name %></h5>

        <p><%= product.description %></p>

        <p class="text-bold">
          <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
          'EUR' }).format(product.price) %>
        </p>

        <form action="/cart/<%= product._id %>" method="POST">
          <input type="hidden" name="isIncreased" value="true" />
          <input class="btn btn-primary" type="submit" value="Add to cart" />
        </form>
      </div>
    </div>
  </div>
</main>
