<%- contentFor('body') %>
<main class="container">
  <div class="pt-6 pb-6">
    <div class="row">
      <div class="col col-8">
        <%if(product.image) {%>
        <img alt="" src="/files/<%=product.image%>" />
        <% }else {%> <% } %>

        <h5><%= product.name %></h5>

        <p><%= product.description %></p>

        <p><%= product.price %></p>
      </div>
    </div>
  </div>
</main>
